{% extends "blog/base_blog.html" %}

{% load i18n %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}
    {% load comments markdown_deux_tags %}

    <h2>{{ object.title }}</h2>

    <div class="item">
        <p class="meta">
            <!--
            {% if object.author %}
            <span class="author">{% trans 'By' %} {{ object.author }}</span>
            <span class="sep">@</span>
            {% endif %}
            -->
            <span class="date">{{ object.publish|date:DATE_FORMAT }}</span>
        </p>

        {% if request.user.is_authenticated %}
        <p class="meta">
            <a href="/admin/blog/post/{{ object.id }}" title="">{% trans "Edit" %}</a>
            <a href="/cache/rm{{ object.get_absolute_url }}" title="">{% trans "Clear cache" %}</a>
        </p>
        {% endif %}

        <div class="post-body">
            {{ object.get_body_html|safe }}
        </div>

        <p class="meta">
            <span class="tags">{% if object.tags.count %}{% for tag in object.tags.all %}<a href="{{ tag.get_absolute_url }}" title="{{ tag.title }}">{{ tag }}</a> {% endfor %}{% else %}{% trans 'No tags' %}{% endif %}</span>
        </p>

        {# Links to previous and next post #}
        <div class="other-posts">
            <div class="previous-post">
            {% if object.get_previous_post %}
                <a class="previous" href="{{ object.get_previous_post.get_absolute_url }}" title="{% trans "View previous post" %}">&laquo; {{ object.get_previous_post }}</a>
            {% endif %}
            </div>
            <div class="next-post">
            {% if object.get_next_post %}
                <a class="next" href="{{ object.get_next_post.get_absolute_url }}" title="{% trans "View next post" %}">{{ object.get_next_post }} &raquo;</a>
            {% endif %}
            </div>
        </div>

    </div>

{% endblock %}

{# vim: set ft=htmldjango.html expandtab ts=4 : #}
