{% extends "blog/base_blog.html" %}
{% load i18n %}

{% block title %}{% trans "Thanks for commenting" %}.{% endblock %}

{% block content %}
    <h3>{% trans "Thank you for your comment" %}.</h3>

    <div class="item">
        <p class="center">{% trans "Your comment is pending for approval" %}.</p>
        <p class="center"><a href="{{ comment.get_content_object_url }}" title="">{% trans "Return to post" %}</a></p>
    </div>
{% endblock %}

{# vim: set ft=htmldjango.html expandtab ts=4 : #}
