{% extends "blog/base_blog.html" %}
{% load i18n %}

{% block title %}{% trans "Preview your comment" %}{% endblock %}

{% block content %}
    {% load comments %}

    {% if form.errors %}
        <h3>{% blocktrans count form.errors|length as counter %}Please correct the error below{% plural %}Please correct the errors below{% endblocktrans %}</h3>
        {% else %}
        <h3>{% trans "Preview your comment" %}</h3>
    {% endif %}

    <div class="item" id="comment-form">
        <form action="{% comment_form_target %}" method="post">
            {% csrf_token %}

            {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
            {% endif %}

            {% if not form.errors %}
            <blockquote>{{ comment|linebreaks }}</blockquote>
            <p><input type="submit" name="submit" class="submit-post" value="{% trans "Post your comment" %}" id="submit" /></p>
            <h4>{% trans "or make changes" %}</h4>
            {% endif %}

            {% for field in form %}
                {% if field.is_hidden %}
                {{ field }}
                {% else %}
                {% if field.errors %}{{ field.errors }}{% endif %}
                <p{% if field.errors %} class="error"{% endif %}{% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>{{ field.label_tag }} {{ field }}</p>
                {% endif %}
            {% endfor %}

            <p class="submit">
                <input type="submit" name="submit" class="submit-post" value="{% trans "Post your comment" %}" />
                <input type="submit" name="preview" class="submit-preview" value="{% trans "Preview" %}" />
            </p>

        </form>
    </div>

{% endblock %}

{# vim: set ft=htmldjango.html expandtab ts=4 : #}
