<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="{{ BLOG_DESCRIPTION }}">
    <meta name="keywords" content="{{ BLOG_KEYWORDS }}">
    <link rel="icon" href="{{ STATIC_URL }}favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" type="image/x-icon">
    {% if GOOGLE_ANALYTICS_TEMPLATE %}
        {% include GOOGLE_ANALYTICS_TEMPLATE %}
    {% endif %}
    {% block extra_head %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block container %}{% endblock %}
</body>
</html>
{# vim: set ft=htmldjango.html expandtab ts=4 : #}
